<h2>Edit Toys</h2>

<%= form_tag "/toys/#{@toy.id}", method: :patch do %>
  <div>
    Name: <input type="text" name="Name" value="<%= @toy.name %>" >
  </div>
  <div>
    Image: <input type="text" name="Image". value="<%= @toy.image %>" >
  </div>
  <div>
    Description: <input type="text" name="Description" value="<%= @toy.description %>" >
  </div>
  <div>
    Price: <input type="text" name="Price" value="<%= @toy.price %>" >
  </div>
  <input type="submit" value="Create Toy"
<% end %>